/* myworks独立样式表 */
@import url('myworks.css');
/* 全局设置区 */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: tomato;
    line-height: 25px;
}
/* ------------------------------------------ */
/*左右两栏占整宽*/
.container-left,
.container-right
{
    width: 100%;
}
/* ------------------------------------------ */
/* 左侧内容设置区 */
.nav {
    padding: 20px 30px 10px;
}
.show {
    width:128px;
}
.menu {
    position: absolute;
    top: 35px;
    right: 30px;
}
.menu button {
    color: #eee;
    font-weight: bold;
    font-size: 16px;
    background-color: tomato;
    border-style: none;
    padding: 3px;
    border-radius: 5px;
}
.descript {
    width: 300px;
    height: 200px;
    background-color: rgba(250, 128, 114, 0.6);
    position: absolute;
    left: 160px;
    top: 5px;
    text-align: center;
    line-height: 30px;
    padding-top:10px; 
    font-size: 18px;
    font-weight: bold;
    color: #D0D3D4;
    border-radius: 5px;
    display: none;
}
.home  {
    display: inline-block;
    padding: 10px;
    border: 6px solid #B5B5B2;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: #eee;
}
.show:hover .descript{
    display: block;
}
.intro {
    font-size: 16px;
    font-weight: bold;
    color: #eee;
    margin: 30px 5px 10px 0;
}
.list1,
.list2 {
    display: none;
}
.list1 li,
.list2 li{
    list-style: none;
    margin-bottom: 8px;
    text-align: center;
}
.list1 li a,
.list2 li a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #888;
}
.list1 {
    margin-bottom: 30px;
}

.list1 li a:hover {
    font-size: 18px;
    color: #eee;
}
/* ------------------------------------------ */
/*右侧文章设置区*/
.article-list {
    box-sizing: border-box;
    width: 100%;
    background-color: #eee;
    padding: 15px;
}
.title a {
    font-size: 24px;
    font-weight: bold;
    color: #151513;
    text-decoration: none;
}
.subTitle {
    color: #777;
    margin: 15px 0;
}
.subTitle span {
    font-size: 12px;
    color: #102132;
}
.content {
    margin-bottom: 10px;
    text-align: justify;
    color: #454544;
    
}
.content p {
    font-size: 16px;
    margin: 12px 0;
}
.content a {
    text-decoration: none;
    color: rgb(226, 120, 102);
}
.read {
    background-color: #454544;
    text-decoration: none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 15px;
}
.content p {
    text-indent: 10px;
    font-size: 16px;
}
h2 {
    color: #5D6D7E;
    text-align: left;
}
/* myworks/content1-trip.html */
.language-code pre,
.css-code pre {
    overflow: auto;
}
.language-code,
.css-code {
    font-size: 0.5rem;
}